body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  main {
    padding: 20px;
    background-color: skyblue;
  }
  
  footer {
    background-color: skyblue;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  /* Flexbox para el diseño responsive */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Image-Center{
    align-items: center;
  }
  
  .Index-h2{
    text-align: center;
  }
  /* Agrega más estilos y diseño según tus preferencias */
  /* Estilos para el formulario */
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .form-group label {
    min-width: 100px;
    margin-right: 10px;
  }
  
  .form-group input,
  .form-group textarea {
    flex: 1;
    padding: 5px;
    font-size: 16px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  .form-group button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 16px;
  }